/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff1f4;
    color: #333;
    line-height: 1.6;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #c56d91;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(45deg, #ff80ab, #ffb3c1);
    -webkit-background-clip: text;
    color: transparent;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #4a4a4a;
    text-align: justify;
    margin: 0 15px 20px;
    line-height: 1.8;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    background-color: #ffffff;
    color: #c56d91;
    font-size: 1.2rem;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #f8e6f7;
    transform: translateX(10px);
}

footer {
    background-color: #c56d91;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

button {
    background-color: #ff80ab;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ffb3c1;
    transform: translateY(-2px);
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        padding: 0 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    button {
        font-size: 1.2rem;
        padding: 8px 15px;
    }

    footer {
        padding: 15px;
    }
}
